body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #de8909;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #073a1c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  padding: 0.75rem;
  font-size: 1rem;
}

button {
  background-color: #0a3d1f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #063d1d;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #c07607;
  color: white;
}
